import S from './styles'
import { {{pascalCase name}}Props } from './types'

const {{pascalCase name}}: React.FC<{{pascalCase name}}Props> = () => {
  return (
    <S.Wrapper>
      <h1>{{pascalCase name}}</h1>
    </S.Wrapper>
  )
}

export default {{pascalCase name}}
